@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@200..900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

.container-xl {
    padding-left: 0px;
    padding-right: 0px;
}

/* ----------------------------------------------- Colours -----*/

.site-colour {
    background-color: rgb(121, 180, 183);
}

.contrast-panel {
    background-color: rgb(227, 230, 230);
}

#right-triangle {
    width: 0;
    height: 0;
    border-top: 200px solid rgb(121, 180, 183);
    border-left: 250px solid transparent;
    float: right;
  }

#left-triangle {
    width: 0;
    height: 0;
    border-bottom: 460px solid rgb(121, 180, 183);
    border-right: 250px solid transparent;
  }

.selected:before{
    color: #3b3b38;
} 

.cv-pdf i:hover{
    color:rgb(121, 180, 183);
}

.linkedin i:hover{
    color:#2867b2;
}

.facebook i:hover{
    color:#3c5a99;
}

.twitter i:hover{
    color:#1DA1F2;
}

.github i:hover{
    color:#3c5a99;
}

/* ----------------------------------------------- Special paddings/margins/text -----*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    color: #3b3b38;
}

h5 {
    font-size: 14px;
    color: #f8f0df;;
}

p {
    font-size: 15px;
    font-weight: 200;
}

.main-heading {
    font-size: 20px;
    padding: 25px 0px 10px 15px;
    font-weight: 600;
  }

.sub-heading {
  font-size: 21px;
  font-weight: 500;
  color: rgb(95, 142, 145);
  padding-top: 10px;
  padding-bottom: 5px;
}

.uppercase {
    text-transform: uppercase;
    }

.inline-block {
    display: inline-block;
}

.section-column {
  padding: 0px;
  float: none;
}

/* ----------------------------------------------- Header -----*/
.inner{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding:0.5rem;
    text-align: center;
  }

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    z-index: 1;
}

#nav li {
    font-size: 14px;
    padding: 0px;
}

.menuitem {
    height: 80px;
    padding: 0;
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #3b3b38;
    height: 80px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #f8f0df;
    font-size: 22px;
}

.menuitem a span {
    display: block;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
}

/* ----------------------------------------------- Hover.css -----*/

.hvr-underline-from-center:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------- Footer -----*/

footer {
    background-color: #3b3b38;
    color: #f8f0df;
    padding-top: 10px;
}

footer p {
    font-size: 14px;
}

.footer-icon i {
    font-size: 25px;
    color: #f8f0df;
    text-align: center;
    padding: 7px 20px;
    width: 120px;
}

/* ----------------------------------------------- Media Queries -----*/

@media only screen and (min-width: 768px) {
    .outer{
        writing-mode: tb-rl;
        width:50px;
        display:flex;
        align-items:center;
        justify-content: flex-end;
      }
      .inner{
        transform: rotate(180deg);
        text-transform: uppercase;
        font-size: 1.5rem;
        transition: transform 1s ease-in-out;
        padding:1.5rem;
      }

    #graphic {
        background-size: 250px 250px;
        min-width: 250px;
        background: url("../images/barry-at-desk.png") ;
        background-repeat: no-repeat;
        height: 100%;
    }

    .wallpaper {
        background: url("../images/wallpaper.png") ;
        background-repeat: repeat-x;
    }

}
/* ----------------------------------------------- Personal Info -----*/

.personal-info-item {
    margin-bottom: 18px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 19px;
    margin-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 500;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}