@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@200..900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    color: #3b3b38;
    background-color: rgba(121, 180, 183);
}

/* ----------------------------------------------- Colours -----*/

.site-colour {
    background-color: rgba(121, 180, 183);
}

.contrast-panel {
    background: rgba(60,60,60, 0.1);
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.content-section {
    background-color: #f8f0df;
    min-height: 900px;
}

.selected:before {
    color: #3b3b38;
}

.cv-pdf i:hover {
    color: rgb(121, 180, 183);
}

.linkedin i:hover {
    color: #2867b2;
}

.facebook i:hover {
    color: #3c5a99;
}

.twitter i:hover {
    color: #1DA1F2;
}

.github i:hover {
    color: #3c5a99;
}

/* ----------------------------------------------- Special paddings/margins/text -----*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: 24px;
    padding: 25px 0px 10px 15px;
    font-weight: 600;
}

h2 {
    font-size: 21px;
    font-weight: 500;
    color: rgb(95, 142, 145);
    padding: 10px 0px;
}

h3 {
    font-size: 17px;
    padding: 3px;
    color: rgb(95, 142, 145);
}

h5 {
    font-size: 14px;
    color: #f8f0df;
    ;
}

p {
    font-size: 15px;
    font-weight: 200;
    
}
 .col {
    padding-right: 15px;
    padding-left: 15px;}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    padding-top: 10px;
}

/* ------------Does this best belong here?  -----*/
.section-column {
    padding: 0px;
    float: none;
}

.center {
    margin: 0px auto;
    text-align: center;
}

/* ----------------------------------------------- Header -----*/

.name-inner {
    text-transform: uppercase;
    font-size: 24px;
    padding: 24px 28px 14px 28px;
    text-align: center;
    color: #3b3b38;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    z-index: 1;
}

#nav li {
    font-size: 14px;
    padding: 0px;
}

.menuitem {
    height: 80px;
    padding: 0;
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #3b3b38;
    height: 80px;
}

.menuitem a i {
    padding-top: 18px;
    display: block;
    color: #f8f0df;
    font-size: 22px;
}

.menuitem a span {
    display: block;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
}

/* ----------------------------------------------- Hover.css -----*/

.hvr-underline-from-center:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------- Footer -----*/

footer {
    background-color: #3b3b38;
    color: #f8f0df;
    padding-top: 10px;
    border-radius: 0px 0px 5px 5px;
}

footer p {
    font-size: 14px;
    color: #f8f0df;
}

.footer-icon i {
    font-size: 25px;
    color: #f8f0df;
    text-align: center;
    padding: 7px 20px;
    width: 100px;
}

/* ----------------------------------------------- Media Queries -----*/

@media only screen and (min-width: 768px) {
    .name-outer {
        writing-mode: tb-rl;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 0px 0px 16px 8px;
    }

    .name-inner {
        transform: rotate(180deg);
        text-transform: uppercase;
        font-size: 24px;
        padding: 24px 28px 23px 28px;
        transition: transform 1s ease-in-out;
    }

    #header-graphic {
        min-width: 250px;
        background: url("../images/header-graphic.png");
        background-repeat: no-repeat;
        height: 100%;
    }



    .header-wallpaper {
        background: url("../images/header-wallpaper.png");
        background-repeat: repeat-x;
    }


}
/* ----------- Everything except Mobile size screen -----*/
@media only screen and (min-width: 576px) { 

    .index-wallpaper {
        background: url("../images/index-bg.png");
        background-repeat: repeat-x;
        min-height: 400px;
        background-color: rgb(248, 240, 223);
    }

    .home {
        color: #f8f0df;
        z-index: 2;
    }

    .light-contrast-panel {
        background: rgb(248, 240, 223);
        border-radius: 8px;
        margin-top: -58px;
        margin-bottom: 15px;
    }

    /* ----------- Mobile only  -----*/
    }
    @media only screen and (max-width: 576px) { 
.mobile-content-section {
    background-color: #f8f0df;
}
    }
/* ----------------------------------------------- Landing Page talking character -----*/

#graphic {
    width: 558px;
    background: url("../images/index-main.png");
    background-repeat: no-repeat;
    height: 519px;
    margin: -6px auto 9px auto;
}

.steam {
    position: relative;
    top: 88px;
    left: 87px;
    height: 46px;
    width: 46px;
    background: url("../images/index-steam.gif");
    background-repeat: no-repeat;
}

.talking-head {
    position: relative;
    top: 26px;
    left: 108px;
    height: 125px;
    width: 153px;
    background: url("../images/index-head.gif");
    background-repeat: no-repeat;
}


/* ----------------------------------------------- Personal Info -----*/

.personal-info-item {
    margin-bottom: 24px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
    font-size: 14px;
}

.personal-info-item .key {
    width: 25%;
    margin-right: 19px;
    margin-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 600;
}

.personal-info-item .value {
    position: relative;
    width: 65%;
}

/* ----------------------------------------------- Contact Form -----*/

.contact-form {
    margin-top: 150px;
    color: #fff;
    background: rgba(60,60,60, 0.6);
    width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}


.contact-form-item {
    margin-bottom: 10px;
    display: block;
    clear: both;
}

.contact-form-item .key,
.contact-form-item .value {
    padding-right: 8px;
    display: inline-block;
}

.contact-form-item .key p,
.contact-form-item .value p {
    margin: 0;
    font-size: 14px;
}

.contact-form-item .key {
    width: 25%;
    margin-right: 19px;
    margin-top: 2px;
    vertical-align: top;
}

.contact-form-item .key p {
    font-weight: 400;
}

.contact-form-item .value {
    position: relative;
    width: 65%;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(95, 142, 145);
    background-color: rgb(95, 142, 145);
}

.custom-control-label::before {
    border-radius: 30%;
}

.custom-control-label::before {
    left: 5px;
}

.custom-control-label {
    padding-left: 35px;
}

.form-control {
    height: calc(18px + 0.75rem + 2px);
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f8f0df;
    font-weight: 500;
    width: 40%;
    background-color: rgb(95, 142, 145);
}

/* ------------------------------------ Work History */

.history-heading {
    color: #3b3b38;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 3em 2em 0em 2em;
    position: relative;
    color: #3b3b38;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0px 12px;
    margin: 0;
    font-size: 14px;
}

.timeline-item h3 {
    padding-bottom: 10px;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2em;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0;
    margin: 0;

}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 30px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #3b3b38;
}

.history-items {
    margin-bottom: 30px;
}

/* ------------------------------------ skill section */
.skill {
    text-align: center;
    display: inline-block;
    padding: 20px;
}

img {
    width: 80px;
    height: 80px;
}

/* ----------------------------------- Portfolio section */

.portfolio {
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.portfolio>img {
    width: 350px;
    height: 228px;

}